*.swp
*.pyc
*.pyo
*~
*.o

Makefile
Makefile.in

/build/
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/compile

/autom4te.cache/

/config.h
/config.log
/configure
/config.status
/aclocal.m4
/stamp-h1
/autoscan.log
/INSTALL

/src/.deps/
/src/ioprocess
/ioprocess-*.tar.gz

/ioprocess.spec
/.ycm_extra_conf.py
/.lvimrc
/bindings/python/ioprocess.valgrind.log
/bindings/python/ioprocess/config.py
/bindings/python/setup.py

# tox and pytest tempoary directories
bindings/python/.cache/
bindings/python/.coverage
bindings/python/.tox/
bindings/python/htmlcov/

/ioprocess-*/
