*.swp
*.pyc
*.pyo
*~
*.o

Makefile
Makefile.in

/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing

/autom4te.cache/

/config.h
/config.log
/configure
/config.status
/aclocal.m4
/stamp-h1
/autoscan.log

/src/.deps/
/src/ioprocess
/ioprocess-*.tar.gz

/ioprocess.spec
/.ycm_extra_conf.py
